<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#JobModalCenter">
  Launch Job Details
</button>

<!-- Modal -->
<div class="modal fade" id="JobModalCenter" tabindex="-1" aria-labelledby="JobModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="JobModalLongTitle">{{job.job_title}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{job.location}}
        {{job.type}}
        {{job.min_salary}}
        {{job.max_salary}}
        {{job.description}}
        {{job.category}}
        {{job.remote}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>