<!-- Loop over each object in the jobs array -->
{{#each jobs as |job| }}
<div class="row mb-4 job">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      <a href="/job/{{job.id}}">{{job.name}}</a>
    </h2>
    <p>
      <!-- Pass needed_funding value to the helper function -->
      <b>{{job.job_title}} needed!</b>
      {{job.location}}
    </p>
    <p>Salary Range: ${{ job.min_salary}} - ${{job.max_salary }}</p>
    <p><b> Description: </b>{{job.description}} </p>
    
  </div>
  <div class="col-md-7">
    <p>
      {{job.remote}}
    </p>
  </div>
  <div class="col-6">
    <p>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#JobModalCenter">Launch Job Details</button>
    </p>
  </div>
</div>
{{/each}}
