<!-- Loop over each object in the jobs array -->
{{#each jobs as |job| }}
<div class="row mb-4 job">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      <a href="/job/{{job.id}}">{{job.name}}</a>
    </h2>
    <p>
      <span for="img" aria-label="money">💲</span>
      <!-- Pass needed_funding value to the helper function -->
      <span class="dollar-amount"></span>
      needed!
    </p>
    <p>Created by {{job.user.name}} on </p>
  </div>
  <div class="col-md-7">
    <p>
      {{job.description}}
    </p>
  </div>
</div>
{{/each}}
